body {
    margin: 5%;
    margin-bottom: 0%;
    background-color: #f6f6e9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: Center;
}

h1 {
    font-size: 9em;
    color:#13334c;
    border: 0.4em Solid #fd5f00;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.2em 0.3em #fd610070;
}

span {
    color: #005792;
    font-size: 0.5em;
}

form {
    background-color:#fd5f00;
    border-radius: 2em;
    box-shadow: 1em 1em 2em #fd610070;
}

input {
    margin: 2%;
    color: #13334c;
    font-size: 2em;
    font-weight: bold;
}

input:hover {
    cursor: pointer;
}

input[type=submit] {
    border: 0.2em Solid black;
    border-radius: 0.2em;
}

input[type=submit]:hover {
    animation: blinkingColor 0.5s infinite;
}

@keyframes blinkingColor{
    0%      {border-color: white;}
    100%    {border-color: black;}
}

.footer-basic {
    padding: 40px 0;
    color: #4b4c4d;
}
  
.footer-basic .copyright {
    text-align: center;
    font-size: 1em;
    color: #aaaaaa;
}